
  /* body {  */
  /* background-color: black; */
   /* margin: 0; 
    padding: 0;
    background-image: url('./assets/pexels-brett-sayles-912364.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
 }  */
